* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 17px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
body {
    position: relative;
}
.gradient-text {
    background: linear-gradient(90deg, #00dbde, #fc00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 4px;
}
::placeholder {
    background: linear-gradient(to right, #2196f3, #fc00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
}
/* Phần Header */
.header {
    border: 1px solid #c0c0c0;
    position: absolute;
    background-color: transparent;
    height: 40px;
    width: 100%;
    text-align: center;
    z-index: 2;
}
.header_container {

}   

.header_container--list {

}

.header_container--list li {
    display: inline-block;
}

.header_container--list li a {
    margin: 0 20px;
    padding: 8px 10px;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    list-style-type: none;
}

.header_container--list li a:hover {
    opacity: 0.7;
    border: 1px solid #ddd;
}

/* Phần Search I-con */
.header_container--icon {
    position: absolute;
    top: 0;
    right: 0;
}
.header_container--icon input {
    background-color: transparent;
    padding:  0 16px ;
    line-height: 37px;
    outline: none;
    border: none;
    color: #fff;
    border: 1px solid #fff;
}
/* Phần Slider */
.slider {
    z-index: 1;
    position: relative;
    background: url(./images/slider.jpeg) top center / cover no-repeat;
    padding-top: 55%;
}
.slider .slider__title {
    left: 20%;
    width: 350px;
    top: 65%;
    position: absolute;
    color: #fff;
    bottom: 0;
}
.slider__title--head {
    font-size: 36px;
    background: linear-gradient(to right, #ccaea0, #58130c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slider__title--body {
    background: linear-gradient(to right, #ccaea0, #58130c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 16px;
    line-height: 1.4;
}
/* Phần Content */

.content {
    display: flex;
    flex-direction: column;
    background-color: #000;
    height: 100%;
}
.container_abt_section {
    display: flex;
    width: 800px;
    margin: 0 auto;
    padding: 64px 0
}
.about_section--title {
    line-height: 1.6;
    padding: 32px;
    display: flex;
    width: 400px;
    height: 400px;
    color: #fff;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #00dbde;
}
.about_section--title h2 {
    font-size: 40px;
}
.about_section--title p {
    padding: 16px 0;
}
.about_section--content {
    line-height: 1.6;
    padding: 32px;
    display: flex;
    width: 400px;
    height: 400px;
    color: #fff;
    justify-content: center;
    flex-direction: column;
}

.about_section--content button {
    width: 50%;
    background-color: transparent;
    border: none;
    border: 1px solid #2196f3;
    padding: 16px;
    color: #2196f3;
    margin-top: 55px;
    transition: 0.5s;
}
.about_section--content button:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 100px #2196f3;
    cursor: pointer;
}
/* Phần Image */
.image_container {
    padding-top: 64px;
    min-height: 800px;
    width: 800px;
    display: flex;
    margin: 0 auto;
}
.image_box {
    display: flex;
    flex: 1;
    width: 33.33333%;
}
.image_container--sample {
    border: 5px solid transparent;
    padding: 0 8px;
    color: #fff;
    width: 100%;
}
.image_container--conent {
    font: 32px;
    text-align: center;
}   
.image_container--conent i {
    font-size: 50px;
    font-weight: 500;
    padding: 24px 24px 15px;
}
.image_container--conent p {
    padding: 10px 15px 20px;
}
.image_container--sample img {
    display: block;
    height: 380px;
    width: 100%;
    transition: 0.2s;
}
.image_container--sample img:hover {
    transform: scale(1.1);
    cursor: pointer;
}
/* Background Section */
.background__section {
    position: relative;
    background: url(./images/background\ image.png) center / cover no-repeat;
    padding: 15%;
    display: inline-block;
}
.background__img--content {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%);
}
.background__img--title {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    outline: none;
    border: 2px solid #00dbde;
    color: #00dbde;
    padding: 12px 32px;
    transition: 0.6s;
    font-size: 35px;
}
.nbsp {
    margin-top: 8px;
    height: 5px;
    width: 200px;
    background: linear-gradient(180deg, #00dbde, #fc00ff)
}

/* Neon Girl Background Image */
.background__neon--image {
 
}
.background__neon--container {
    width: 100%;
    display: flex;
}
.background_neon--girl {
    position: relative;
    width: 66.66667%;
    background: url(./images/neon\ girl.jpeg) left / cover no-repeat;
    padding: 15%;
    /* -webkit-box-reflect: right; */
}
.neon__girl--text {
    padding: 8px;
    left: 80%;
    text-align: center;
    border: 2px solid #cfdbd7;
    font-size: 32px;
    position: absolute;
    background: linear-gradient(180deg, #a8696d, #cad0ce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.background__neon--door {
    width: 33.33333%;
    background: url(./images/door.jpeg) right / cover no-repeat;
    padding: 15%;
}

/* Phần Background with the guy  */

.background_guy {
    width: 1100px;
    height: 520px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.background_guy--image {
    background: url(./images/guy.png) left center / cover no-repeat;
    padding: 10%;
    width: 450px;
    height: 450px;
    margin-top: 64px;
    margin-right: 70px;
}

.background_guy--text {
    display: flex;
    margin-top: 100px;
    margin-left: 60px;
    justify-content: center;
    align-items: center;
    width: 600px;
    padding: 32px;
    height: 400px;
    position: relative;
}
.background_guy--text i {
    font-size: 80px;
    padding: 32px;
    color: rgb(160, 130, 33);
    position: absolute;
    top: 0;
    left: 0;
}
/* Phần Background Reflection */
.background_reflex {
    position: relative;

}
.background_reflex--container {
    position: relative;
    background: url(./images/background\ image.png) center / cover no-repeat;
    padding: 15%;
    width: 100%;
    -webkit-transform: scale(-1);
    position: relative;
}
.background_reflex--box {
    position: absolute;
    top: 25%;
    left: 20%;
    bottom: 0;
    width: 800px;
}
.background_reflex--title {
    padding: 32px;
}
.background_reflex--input {
    padding: 32px;
    display: flex;
    flex-direction: row;

}
.background_reflex--inputbox {
    width: 50%;
    display: flex;
    flex-direction: row;
}
.input_control {
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 10px;
    background-color: transparent;
    border: 2px solid #2196f3;
}
.background_reflex--input button {
    background-color: transparent;
    border: 2px solid #fc00ff;
    color: #fc00ff;
    padding: 14px 32px;
    font-size: 20px;
    transition: 0.6s;
}

.background_reflex--input button:hover {
    background-color: #fc00ff;
    color: #255784;
    cursor: pointer;
    box-shadow: 0 0 10px #fc00ff, 0 0 60px #fc00ff, 0 0 100px #fc00ff; 
}

/* Phần Footer */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer_container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 500px;
    background-color: #000;
}
.footer_container--box {
    /* justify-content: space-evenly; */
    margin: 32px 32px;
    /* flex: 1; */
    width: 500px;
    height: 400px;
    border: 1px solid #ddd;
}
.input_email--sample {
    text-align: center;
    letter-spacing: 3px;
    padding: 40px 20px;
    color: #999;
}
.input_email--sample h1 {
    padding-bottom: 15px;
    font-size: 32px;
    font-weight: 600;
}
.input_email--sample p {
    line-height: 1.6;
    font-size: 14px;
}
.footer__input--mail {
    margin-top: 32px;
    padding: 12px;
}

.footer__input--mail input::placeholder {
    color: #ddd;
}

.footer__input--mail input {
    font-size: 18px;
    padding: 12px;
    border: 1px solid #ccaea0;
    background-color: transparent;
}
.footer__input--mail button {
    border: 1px solid tomato;
    border-radius: 5px;
    background-color: tomato;
    color: #ddd;
    border: none;
    font-size: 18px;
    padding: 12px;
    /* font-size: 20px;
    padding: 8px; */
}
.footer__input--icon {
    padding: 32px;
    font-size: 40px;
}
.footer__input--icon a {
    color: #40a6ff;
    padding: 0 4px;
}
.footer__input--icon i {
    transition: .2s ease-in;
}
.footer__input--icon i:hover {
    transform: scale(1.6);
}
.footer__commited--sample {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__commited--content {
    text-align: center;
    width: 90%;
    padding-top: 32px;
    color: #999;
    /* padding: 16px 8px; */
    letter-spacing: 3px;
    line-height: 1.6;
}
.footer__commited--content h2 {
    font-size: 32px;
}
.footer__commited--image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.footer__commited--image img {
    border: 1px solid #397b62;
    padding: 8px;
    margin: 32px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_infor--container {
    padding: 32px;
    font-size: 24px;
    letter-spacing: 3px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    color: #999;
}
.footer_infor--container H2 {
    text-align: center;
    font-size: 32px;
}
.footer_infor--container i {
    padding-left: 20px;
    margin: 15px 0;
    display: inline-block;
}git
.footer_infor--container p {
    display: inline-block;
    font-size: 16px;
    font-family: "Roboto";
}
.footer_infor--container q {
    margin-top: 32px;
    font-size: 16px;
    font-style: italic;
}